html {
  font-size: 100%;
  box-sizing: border-box;
}

// inhert box-sizing with wildcard selectors
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
  background-color: antiquewhite;
}

header {
  background-color: #262626;
}

header .title {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: rgb(250, 243, 243);
  text-decoration: none;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(250, 243, 243);
}

#joke-container {
  text-align: center;
  margin: 20px;

  #jokeBtn {
    font-family: 'Public Sans',
      sans-serif;
    border-radius: 10px;
    padding: 10px;
    animation-name: colorChanger;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    font-weight: bold;
    font-size: 20px;
  }

  #jokeTxt {
    padding: 20px;
    width: 80vw;
    animation: slideIn;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

@keyframes colorChanger {
  0% {
    background-color: rgba(167, 100, 100, 0.6);
  }

  25% {
    background-color: rgba(194, 194, 71, 0.6);
  }

  50% {
    background-color: rgba(96, 96, 160, 0.6);
  }

  75% {
    background-color: rgba(48, 119, 48, 0.6);
  }

  100% {
    background-color: rgba(167, 100, 100, 0.6);
  }
}

@keyframes slideIn {
  0% {
    left: 5%;
  }

  50% {
    left: 10%;
  }

  100% {
    left: 5%;
  }
}

// Styling for hamburger-menu
@media(max-width: 800px) {

  .nav-menu {
    position: fixed;
    left: -150%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}