html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
  background-color: antiquewhite;
}

header {
  background-color: #262626;
}

header .title {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #faf3f3;
  text-decoration: none;
}

.nav-bar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #faf3f3;
}

#joke-container {
  text-align: center;
  margin: 20px;
}

#joke-container #jokeBtn {
  font-family: 'Public Sans', sans-serif;
  border-radius: 10px;
  padding: 10px;
  -webkit-animation-name: colorChanger;
          animation-name: colorChanger;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-weight: bold;
  font-size: 20px;
}

#joke-container #jokeTxt {
  padding: 20px;
  width: 80vw;
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  position: relative;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes colorChanger {
  0% {
    background-color: rgba(167, 100, 100, 0.6);
  }
  25% {
    background-color: rgba(194, 194, 71, 0.6);
  }
  50% {
    background-color: rgba(96, 96, 160, 0.6);
  }
  75% {
    background-color: rgba(48, 119, 48, 0.6);
  }
  100% {
    background-color: rgba(167, 100, 100, 0.6);
  }
}

@keyframes colorChanger {
  0% {
    background-color: rgba(167, 100, 100, 0.6);
  }
  25% {
    background-color: rgba(194, 194, 71, 0.6);
  }
  50% {
    background-color: rgba(96, 96, 160, 0.6);
  }
  75% {
    background-color: rgba(48, 119, 48, 0.6);
  }
  100% {
    background-color: rgba(167, 100, 100, 0.6);
  }
}

@-webkit-keyframes slideIn {
  0% {
    left: 5%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 5%;
  }
}

@keyframes slideIn {
  0% {
    left: 5%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 5%;
  }
}

@media (max-width: 800px) {
  .nav-menu {
    position: fixed;
    left: -150%;
    top: 50px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */

footer{
  display: flex;
  flex-direction: column;
  background-color: yellow;
  position: relative;
  height: auto;
  margin-top: auto;
  clear: both;
}

footer .footerText{
  color: black;
  font-size: 20px;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  width:100%;
  
}

footer .footerContent{
border: 1px solid red;
padding: 10px;
}

footer .footer-sectionAbout  {
  color: black;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-google-plus,.fa-snapchat-ghost{
  width: 15px;
  height: 15px;
  /* line-height: 40px; */
  display:inline-block;
  border-radius: 50%;
  border: 2px solid black;
  margin: 50px;
  color: black;
  opacity: 0.7;
  background-color: rgba(0.5, 0.7, 0.2, 0.2);
  
}

a{
  transform: scale(1.2);
}


