* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(85, 51, 11, 0.507);
    height: 100vh;
}

header {
    padding: 20px 0;
    background-color: rgba(24, 24, 24, 0.5);
    font-size: 1.5rem;
    text-align: center;

    h1 {
        font-weight: 900;
        color: rgb(250, 245, 227);
    }
}

.navHeader h2 {
    text-align: center;
    margin: 20px 20px;
    background-color: rgba(24, 24, 24, 0.7);
    color: rgb(250, 245, 227);
    padding: 5px 0px;
}

main {
    display: flex;
    flex-direction: row;

    #sideNav {
        margin-left: 20px;
        width: 35vw;
    }

    #displayRecipes {
        display: grid;
        grid-template-columns: repeat(auto-fill, 320px);
        justify-content: center;
        width: 65vw;

        .recipeLink {
            text-decoration: none;
            color: rgb(23, 22, 21);

            .card {
                display: grid;
                grid-template-columns: 1fr;
                margin: 20px;

                .topPart {
                    width: 280px;
                    height: auto;
                    border-radius: 15px 15px 0 0;
                }

                .infoPart {
                    width: 260px;
                    background-color: rgba(234, 201, 151, 0.9);
                    text-align: center;
                    display: 280px;
                    height: fit-content;
                    border-radius: 0 0 15px 15px;
                    padding: 10px;

                    .recipeTitle {
                        padding-bottom: 10px;
                    }

                    .missingIngrList {
                        list-style-type: none;
                    }
                }
            }
        }
    }
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 0.6s;
    box-shadow: 10px 10px 15px 0px #463c2eb7;
    border-radius: 15px;
}

.card:not(:hover) {
    transform: scale(1);
    transition-duration: 0.6s;
}