/* https://www.uidesigndaily.com/posts/sketch-questionnaire-choice-submit-day-924 */
/* based on this design */

*{
    box-sizing:border-box;
    

}

body{
    background-image: url(/Nicolas/quizApp/images/shufflingCards.jpg);
    background-size:cover;
    font-family: 'Crete Round', serif;
    margin: 0;
    min-height: 100vh;
    justify-content: left;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.quiz-container{
    background-color: rgba(121, 112, 116, 0.561);
    box-shadow: 0 0 10 10px rgba(100, 100, 100,1);
    display: flex;
    width:400px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

button{
    background-color: rgba(177, 71, 71, 0.5);
    color: white;
    display:block;
    width: 100%;
    font-family: inherit;
    padding: 1.2rem;
    font-size: 1.5rem;
    border: 10px, red;
    cursor: pointer;
    
}

button:hover{
    background-color: rgba(219, 39, 39, 0.685);
}

button:focus{
    background-color: darkgreen;
    outline: none;
}

.quiz-header{
    padding: 2rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.1rem ;
    display: flex;
    font-weight: bold;
}

ul li label{
    cursor: pointer;
}