/* https://www.uidesigndaily.com/posts/sketch-questionnaire-choice-submit-day-924 */
/* based on this design */

*{
    box-sizing: border-box;

}

body{
    background-image: url(/Nicolas/quizApp/images/questionMark.jpg);
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.quiz-container{
    background-color: hotpink;
    box-shadow: 0 0 5p10px rgba(100, 100, 100, 0.1);
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

button{
    background-color: green;
    color: white;
    display: block;
    width: 100%;
    font-family: inherit;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: darkgreen;
}

button:focus{
    background-color: darkgreen;
    outline: none;
}

.quiz-header{
    padding: 4rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.1rem;
}

ul li label{
    cursor: pointer;
}